@model Logga.Data.LoggaEntry

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Hi, I'm Logga and i'm your friend!</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body bgcolor="white" class="container">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Back to Index", "Index", "Logga", new { area = "" }, new { @class = "navbar-brand" })
            </div>
        </div>
    </div>
    <br /><br />
    <span>
        <h1>Server Error in '/' Application.<hr width="100%" size="1" color="silver"></h1>

        @*<h2> <i>@Model.Message</i> </h2>*@
    </span>

    <font face="Arial, Helvetica, Geneva, SunSans-Regular, sans-serif ">

        <b> Description: </b>
        @Model.Message
        <br /><br />

        <b> Exception Details: </b>@Model.Type: @Model.Message<br>

        @*<b>Source Error:</b> <br><br>

                    <table width="100%" bgcolor="#ffffcc">
                        <tbody>
                            <tr>
                                <td>
                                    <code>
                                        <pre>
            Line 15:          public ActionResult CreateError()
            Line 16:         {
            <font color="red">Line 17:             throw new Exception("Hi, I'm Logga and i'm your friend!");
            </font>Line 18:         }
            Line 19: </pre>
                                    </code>

                                </td>
                            </tr>
                        </tbody>
                    </table>*@

        <br>

        <b> Source File: </b> @Model.Target
        <br><br>

        <b>Stack Trace:</b>

        <table width="100%" bgcolor="#ffffcc">
            <tbody>
                <tr>
                    <td>
                        <pre>
                             @Model.StackTrace
                            </pre>
                    </td>
                </tr>
            </tbody>
        </table>

        <br>
        <b>Date:</b>&nbsp;@Model.DateError
        <br /><br>

        <b>User:</b>&nbsp;@Model.User
        <br /><br>

        <b>Host:</b>&nbsp;@Model.Host
        <br /><br>
    </font>
</body>
</html>
